[class*="article-button-"][class*="__action-component"] {
   margin: var(--px-16) var(--px-16) var(--px-16) 0;
   padding: var(--px-8) var(--px-40);

   background-color: var(--secondary);

   color: var(--gray-100);
   font-size: var(--fs-5);
   font-weight: 500;

   border-radius: 100px;

   cursor: pointer;

   .icon {
      display: inline;
      vertical-align: middle;
   }
}
[class*="article-button-"][class*="__action-component"]:hover {
   background-color: var(--primary);
   transform: scale(1.05);
}
[class*="article-button-"][class*="__action-component"]:active {
   transform: scale(0.9);
}
.article-button-1__action-component {
   margin: var(--px-8) var(--px-8) var(--px-8) 0 !important;
   font-size: var(--fs-3) !important;
}
.article-button-2__action-component {
   margin: var(--px-8) var(--px-8) var(--px-8) 0 !important;
   font-size: var(--fs-4) !important;
}
